<div class="container">
    <div class="col-xs-10 col-xs-offset-1" ng-controller="NewsController as nc">
        <div class="row" align="center">
            <div class="col-xs-12">
                <h4>{{nc.news.header}}</h4>
            </div>
            <div class="col-xs-12">
                <img src="{{nc.news.img}}" alt="Image" height="300px" wigth="500px"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h5>{{nc.news.text}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h6>Published by: {{nc.news.author}}</h6>
                <h6>Added at: {{nc.news.createdAt}}</h6>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row" align="center">
            <div class="col-xs-12">
                <h4>КОММЕНТАРИИ</h4>
            </div>
        </div>
        <div ng-controller="CommentsController as cc">
          <div class="row" ng-if="cc.loggedIn">
              <div class="col-xs-12">
                  <ul class="list-group col-xs-8 col-xs-offset-2">
                      <li class="list-group-item" ng-repeat="comment in cc.comments">
                          <h5>{{comment.text}}</h5>
                          <h6>{{comment.author}}</h6>
                          <h6>{{comment.createdAt}}</h6>
                      </li>
                  </ul>
              </div>
              <div class="col-xs-12">
                   <form class="form-horizontal" name="commentForm" ng-submit="cc.submitComment()" novalidate>
                      <div class="form-group"  ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                          <div class="col-xs-8 col-xs-offset-2">
                              <textarea class="form-control" rows="6" name="comments"
                                  ng-model="mycomment.comment" placeholder="Your Comments" required>
                              </textarea>
                           <span ng-show="commentForm.comments.$error.required &&
                           !commentForm.comments.$pristine" class="help-block">Your comments are required.</span>
                         </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-offset-2 col-xs-10">
                              <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
        <div ng-controller="HeaderController as ctrl" class="row" align="center" ng-if="!ctrl.loggedIn">
            <div class="col-xs-12">
                <h5>Вам необходимо зарегистрироваться или войти что бы видеть и оставлять комментарии!</h5>
                <button class="btn" ng-click="ctrl.openLogin()">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
