<div class="ngdialog-message">
        <div class="">
            <div class="">
                <a ng-click="modalBody='login'" ng-init="modalBody='login'">
                <h4 ng-init="signin=1" ng-class="{active:signin}" ng-click='signin=1' align="center">SIGN IN</h4></a>
            </div>
            <div class="">
                <a ng-click="modalBody='register'">
                <h4 ng-class="{active:!signin}" ng-click="signin=0" align="center">SIGN UP</h4></a>
            </div>
        </div>
      <div class="">
          <form name="Login" ng-submit='ctrl.doLogin()' role="form" ng-if="modalBody === 'login'">
              <div class="register">

                <div class="form-group">
                  <div class="">
                        <input ng-model="ctrl.loginData.username" type="text" name="username"
                        class="form-control" id="username" placeholder="Enter username" required>
                  </div>
                      <div class="has-error" ng-show="Login.$dirty && Login.username.$touched">
                          <span ng-show="Login.username.$error.required">This is a required field</span>
                          <span ng-show="Login.username.$invalid">This field is invalid </span>
                      </div>
                </div>

                <div class="form-group">
                        <div class="">
                            <input ng-model="ctrl.loginData.password" name="pwd" type="password" class="form-control" id="pwd" placeholder="Enter password" required ng-minlength="6">
                        </div>
                        <div class=" has-error" ng-show="Login.$dirty && Login.pwd.$touched">
                              <span ng-show="Login.pwd.$error.required">This is a required field</span>
                              <span ng-show="Login.pwd.$error.minlength">Minimum length required is 6</span>
                              <span ng-show="Login.pwd.$invalid">This field is invalid </span>
                        </div>
                </div>

                <div class="">
                    <div class="">
                        <div class="">
                            <button type="submit" class="btn btn-default">Sign In</button>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="ctrl.rememberMe">Remember Me</label>
                        </div>
                    </div>
                </div>

            </div>
          </form>

          <form name="Login" ng-submit='ctrl.doRegister()' role="form" ng-if="modalBody === 'register'">
              <div class="login">

                <div class="form-group">
                  <div class=" ">
                        <input ng-model="ctrl.registration.username" type="text" name="username"
                        class="form-control" id="username" placeholder="Enter username" required>
                  </div>
                      <div class="  has-error" ng-show="Login.$dirty && Login.username.$touched">
                          <span ng-show="Login.username.$error.required">This is a required field</span>
                          <span ng-show="Login.username.$invalid">This field is invalid </span>
                      </div>
                </div>

                <div class="form-group">
                    <div class="">
                          <input ng-model="ctrl.registration.password" name="pwd" type="password" class="form-control" id="pwd" placeholder="Enter password" required ng-minlength="6">
                    </div>
                    <div class="  has-error" ng-show="Login.$dirty && Login.pwd.$touched">
                          <span ng-show="Login.pwd.$error.required">This is a required field</span>
                          <span ng-show="Login.pwd.$error.minlength">Minimum length required is 6</span>
                          <span ng-show="Login.pwd.$invalid">This field is invalid </span>
                    </div>
                </div>

                  <div class="form-group">
                      <div class="">
                        <input ng-model="ctrl.confirm" name="pwdconfirm" type="password" class="form-control" id="pwdconfirm" placeholder="Confirm password" required ng-minlength="6" >
                      </div>
                      <div class="has-error" ng-show="Login.$dirty && Login.pwdconfirm.$touched">
                          <span ng-show="Login.pwdconfirm.$error.required">This is a required field</span>
                          <span ng-show="Login.pwdconfirm.$error.minlength">Minimum length required is 6</span>
                          <span ng-show="Login.pwdconfirm.$invalid">This field is invalid </span>
                          <span ng-show="ctrl.confirm !== ctrl.registration.password">Confirmed password is incorrect </span>
                      </div>
                  </div>

                  <div class="">
                      <div class="">
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </div>
                  </div>

              </div>
            </form>
          </div>
</div>
