<nav ng-controller="HeaderController as ctrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" src="" ui-sref="app"></a>
        </div>
        <div id="navbar" class="navbar-collapse nav-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-if="!ctrl.loggedIn">
                    <a ng-click="ctrl.openLogin()" class=""><h4><span class="glyphicon glyphicon-log-in"
                     aria-hidden="true"></span> Войти на сайт</h4>
                    </a>
                </li>
                <li ng-if="ctrl.loggedIn">
                  <a ui-sref="app.userpage"><h4><span class="glyphicon glyphicon-user"
                   aria-hidden="true"></span> Войти в личный кабинет</h4>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
