<div class="container" ng-controller="PagerController as ctrl">
  <div class="col-xs-8 col-xs-offset-2">
    <ul ng-if="ctrl.pager.pages.length" class="pagination">
        <li ng-class="{disabled:ctrl.pager.currentPage === 1}">
            <a ng-click="ctrl.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:ctrl.pager.currentPage === 1}">
            <a ng-click="ctrl.setPage(ctrl.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in ctrl.pager.pages" ng-class="{active:ctrl.pager.currentPage === page}">
            <a ng-click="ctrl.setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:ctrl.pager.currentPage === ctrl.pager.totalPages}">
            <a ng-click="ctrl.setPage(ctrl.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:ctrl.pager.currentPage === ctrl.pager.totalPages}">
            <a ng-click="ctrl.setPage(ctrl.pager.totalPages)">Last</a>
        </li>
    </ul>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="list-group">
      <ul class="media-list">
        <li class="media" ng-repeat="new in ctrl.items" ui-sref="news/:{{new.id}}">
          <div class="media-left">
            <a>
              <img class="media-object" src="{{new.image}}" alt="news pic" height="100" width="150">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{new.heading}}</h4>
            {{new.text}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
